<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seg2105walkinclinicservicesapp">

    <application
        android:name="com.example.seg2105walkinclinicservicesapp.SupportFiles.AppContextHolder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClinicPages.UpdateServicesProvidedActivity"></activity>
        <activity android:name=".ClinicPages.EditClinicInfoActivity" />
        <activity android:name=".PatientPages.EditPatientInfoPage" />
        <activity android:name=".AdminPages.ShowUsersAdminPage" />
        <activity android:name=".AdminPages.UpdateUsersAdminPage" />
        <activity android:name=".AdminPages.UpdateServiceAdminPage" />
        <activity android:name=".AdminPages.ListServicesAdmin" />
        <activity android:name=".AdminPages.addServiceAdminPage" />
        <activity android:name=".AdminPages.AdminPage" />
        <activity android:name=".WelcomeScreen" />
        <activity android:name=".ClinicPages.ClinicSignupActivity" />
        <activity android:name=".PatientPages.PatientSignupActivity" />
        <activity android:name=".SelectRegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>